@import url("animations.css");

.App {
  text-align: center;
}

.App-logo {
  background: grey;
  height: 80px;
  border-radius: 50%;
}

.App-logo-default {
  animation: App-logo-spin 5s 0s infinite;
}

.App-logo-check {
  animation: App-logo-spin-check 5s 0s infinite;
}

.App-logo-check-mate {
  animation: Win-animation-part-one 3s forwards, tada-translated 1s, Win-animation-part-two 1s forwards;
  animation-delay: 0s, 3s, 4s;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.square {
  /*background: #fff;*/
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  width: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.regular-square {
  background: #DEB887; /* brun bois rustique = clair */
}

.alt-square {
  background: #88421D; /* acajou = foncé */
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin: auto;
}

.chessman {
  height: 34px;
  width: 34px;
}

/*.selected-chessman {
  background: #ccc;
}*/

.selected-chessman .chessman {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 90%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 90%);
}

.can-move {
  background: green;
}

.can-eat {
  background: orange;
}

.is-check {
  background: red;
}

.is-check .chessman {
  animation: Wiggle 2.5s linear;
}

.causes-check {
  background: red;
  /*animation: In-and-out 1s linear;*/
}

.causes-check .chessman {
  display: inline-block;
  /*vertical-align: middle;*/
  /*-webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);*/
  box-shadow: 0 0 1px transparent;
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.game-info {
  margin-left: 20px;
}
