.App {
  text-align: center;
}

.App-logo {
  background: grey;
  height: 80px;
  border-radius: 40px;
}

.App-logo-loading {
  animation: App-logo-spin 5s 0s infinite;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: rotate(0deg); background: grey;}
  50% { transform: rotate(360deg); }
  80% {  background: white;}
  100% { transform: rotate(0deg); background: grey; }
}
