.App {
  text-align: center;
}

.App-logo {
  background: grey;
  height: 80px;
  border-radius: 40px;
}

.App-logo-loading {
  animation: App-logo-spin 5s 0s infinite;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: rotate(0deg); background: grey;}
  50% { transform: rotate(360deg); }
  80% {  background: white;}
  100% { transform: rotate(0deg); background: grey; }
}


.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  width: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin: auto;
}

.chessman {
  height: 34px;
  width: 34px;
}

.chessman:hover {
  background: grey;
}

.can-move {
  background: green;
}

.can-eat {
  background: orange;
}

.is-check {
  background: red;
}

.game-info {
  margin-left: 20px;
}
